@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");


.body {
  margin-top: 150px;
  /* background-color: black; */
}

.container {
  /* background-color: rgb(150, 150, 150); */
  /* background-image: url("./img/background.jpg"); */
  width: 100%;
  height: 85vh;

  /* background-color: black; */
  /* border:1px solid black; */
  display: flex;
  justify-content: center;
  position: relative;
}

.bannerImage {
  width: fit-content;
  height: 100%;
}

.imgText {
  color: antiquewhite;
  position: absolute;
  top: 85%;
  left: 37.5%;
}
.headLine {
  font-size: 125%;
}
.subLine {
  font-size: 175%;
  font-weight: bold;
}
.artistName {
  font-weight: normal;
}

/*
안쓰는 css이지만 아카이브용으로.
*/
/* .view {
  width: 60%;
  border: 1px solid black;
  border-radius: 30px;
  margin: 0px 300px 0px 300px;
  padding: 10px;
  height: 100%;
  background-color: white;
} */
svg{
  width: 55vw;
  height: 100%;
}
.per {
  z-index: -1;
  stroke-dasharray: 840;
  animation: stroke-per 12s forwards;
} 
 @keyframes stroke-per {
  0%{
    stroke-dashoffset: 840;
  }
  50%{
    stroke-dashoffset: 0;
  }
  /* 100%{
    stroke-dashoffset: -840;
  } */
  /* from{
    stroke-dashoffset: 840;
  }
  to{
    stroke-dashoffset: 0;
  } */
}

.horizon {
  z-index: -1;
  stroke-dasharray: 1050;
  animation: stroke-hor 12s forwards;
} 
 @keyframes stroke-hor {
  0%{
    stroke-dashoffset: 1050;
  }
  50%{
    stroke-dashoffset: 0;
    opacity: 1;
  }
  /* 100%{
    stroke-dashoffset: -1050;
  } */
    /* from{
    stroke-dashoffset: 1050;
  }
  to{
    stroke-dashoffset: 0;
  } */
}
.p{
  position:relative;
  /* width: 55%;/ */
}
.c{
  position: absolute;
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}
@keyframes test{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.box_1{
  width:785px;
  height: 590px;
  border: 1px solid black;
  opacity: 0;
  animation: test 6s forwards;
  
}
.box_2{
  width:240px;
  height: 590px;
  border: 1px solid black;
  opacity: 0;
  animation: test 6s forwards;
  animation-delay: 1s;

}
.box_3{
  width:785px;
  height: 180px;
  border: 1px solid black;
  opacity: 0;
  animation: test 6s forwards;
  animation-delay: 2s;

}
.box_4{
  width:240px;
  height: 180px;
  border: 1px solid black;
  opacity: 0;
  animation: test 6s forwards;
  animation-delay: 3s;

}
