@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");


.body {
  /* background-color: black; */
}

.container {
  /* background-color: rgb(150, 150, 150); */
  /* background-image: url("./img/background.jpg"); */
  width: 100%;
  height: 85vh;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  position: relative;


}

.bannerImage {
  width: fit-content;
  height: 100%;
}

.imgText {
  color: antiquewhite;
  position: absolute;
  top: 85%;
  left: 37.5%;
}
.headLine {
  font-size: 125%;
}
.subLine {
  font-size: 175%;
  font-weight: bold;
}
.artistName {
  font-weight: normal;
}
svg{
  width: 55vw;
  height: 100%;
  /* background-color: white; */
}
path{
  box-shadow: inset 0 0 0px;

}
.per {
  z-index: -1;
  stroke-dasharray: 840;
  animation: stroke-per 3s forwards;
} 
 @keyframes stroke-per {
  from{
    opacity: 0;
    stroke-dashoffset: 840;
  }
  to{
    stroke-dashoffset: 0;
    opacity: 0.8;
  }
}

.horizon {
  z-index: -1;
  stroke-dasharray: 1050;
  animation: stroke-hor 3s forwards;
  
} 
 @keyframes stroke-hor {
  from{
    opacity: 0;
    stroke-dashoffset: 840;
  }
  to{
    stroke-dashoffset: 0;
    opacity: 0.8;
  }
}
.p{
  position:relative;
  /* width: 55%;/ */
}
.c{
  position: absolute;
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}
@keyframes div_ani_under{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;

  }
}
@keyframes div_ani_top{
  from{
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to{
    opacity: 1;
    transform: translateZ(0);
  }
}
.box1_par{
  width:785px;
  height: 590px;
  position: relative;

  animation: div_ani_top 6s forwards;
}
.box_1{
  position: absolute;
  width:785px;
  height: 590px;
  background-image: url(../img/back.jpg);
  border-radius: 20px;
  /* opacity: 0.6; */
  z-index: -1;
}
.box_1::before{
    position: absolute;
    content: "";
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
  border-radius: 20px;

}
.box1_par p{
  margin: 0px;
  color: white;
}
.box_2{
  width:240px;
  height: 590px;
  /* border: 1px solid black; */
  /* background-color: rgba(248, 91, 91, 0.747); */
  background-color: white;
  opacity: 0;
  animation: div_ani_top 6s forwards;
  animation-delay: 1s;
  background-color: transparent;
  perspective: 1000px;
  
  /* box-shadow: 0 0 5px #333; */

}
.box_3{
  width:785px;
  height: 180px;
  /* border: 1px solid black; */
  background-color: white;
  opacity: 0;
  animation: div_ani_under 6s forwards;
  animation-delay: 1.5s;
  background-color: transparent;
  perspective: 1000px;
  /* box-shadow: 0 0 5px #333; */

}
.box_4{
  width:240px;
  height: 180px;
  /* border: 1px solid black; */
  background-color: white;
  opacity: 0;
  animation: div_ani_under 6s forwards;
  animation-delay: 2s;
  background-color: transparent;
  perspective: 1000px;
  /* box-shadow: 0 0 5px #333; */

}
.box_flip_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  
  transform-style: preserve-3d;
}
.box_2:hover .box_flip_inner, .box_3:hover .box_flip_inner, .box_4:hover .box_flip_inner {
  transform: rotateY(180deg);
}
.box_flip_front_1, .box_flip_back_1, .box,.box_flip_front_2,
.box_flip_back_2,.box_flip_front_3,
.box_flip_back_3 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.box_flip_front_1 {
  /* background-color: rgb(255,246,18); */
  background-image: url(../img/fifth.jpg);
  background-size: cover;
  color: black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 5px 10px black; */
  
}
.box_flip_front_1::before,.box_flip_front_2::before,.box_flip_front_3::before{
    position: absolute;
    content: "";
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
  border-radius: 20px;
}
/* .box_flip_back_1::before,.box_flip_back_2::before,.box_flip_back_3::before{
    position: absolute;
    content: "";
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
  border-radius: 20px;
} */
.box_flip_front_1_text{
  top: 450px;
  left: 20px;
  color: white;
  position: absolute;
    text-align: center;
  padding-top: 30px;
  display: grid;
  place-items: center;
}
.box_flip_front_2_text{
  right: 50px;
  color: white;
  position: absolute;
    text-align: center;
  padding-top: 30px;
  display: grid;
  place-items: center;
}
.box_flip_front_3_text{
  left: 20px;
  color: white;
  position: absolute;
  text-align: center;
  padding-top: 30px;
  display: grid;
  place-items: center;
}
.box_flip_back_1 {
  background-color: rgba(237,210,0,3);
  /* filter : brightness(0.4); 밝기 결정 */
  color: black;
  transform: rotateY(180deg);
  /* box-shadow: 0 5px 10px black; */
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box_flip_back_1 h2{
  position: absolute;
  margin-left: 5px;
  margin-right: 5px;
  top: 470px;
  font-size: 25px;
}
.box_flip_back_2 h2{
  position: absolute;
  right: 30px;
  font-size: 20px;
}
.box_flip_back_3 h2{
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  font-size: 20px;
}
.box_flip_front_2 {
  background-color: #000000;
  background-image: url(../img/first.jpg);
  background-size: cover;

  color: black;
  border-radius: 20px;
    display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 5px 10px black; */
  
}

.box_flip_back_2 {
  background-color: #5A5A5A;
  color: black;
  transform: rotateY(180deg);
  /* box-shadow: 0 5px 10px black; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.box_flip_front_3 {
  background-color: #FF2424;
  background-image: url(../img/third.jpg);
  color: black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 5px 10px black; */
  
}
.box_flip_back_3{
  background-color: #DB0000;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.box_1_text{
  top: 400px;
  right: 20px;
  position: absolute;
  color: #fff;
  font-size: 30px;
  /* display: inline; */
  /* align-items: center; */
  text-align: center;
  padding-top: 30px;
  display: grid;
  place-items: center;
}

.box_1_text h2{
  margin: 0px;
}
.box_flip_front_1{
  color: #fff;
  
}
.box_flip_back_1{
  color: #fff;
}
.box_flip_front_2{
  color: #fff;
  
}
.box_flip_back_2{
  color: #fff;
}
.box_flip_front_3{
  color: #fff;
  
}
.box_flip_back_3{
  color: #fff;
}