/* 메인 헤더 css */
header {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 10px;
}
.header_back{
  z-index: 9998;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255);
}

.text_logo {
  position: absolute;
  margin-left: 4%;
  padding-top: 2.5%;
  font-size: 40px;
  color: black;
}

.img_logo {
  position: relative;
  float: left;
}

.par_logo {
  text-align: center;
  float: left;
  height: 130px;
  padding-left: 60px;
}

.logo {
  height: 130px;
  /* opacity: 0.5; */
}

.Menu {
  /* border: 1px solid black; */
  background-color: #fff;
  /* background-color: black; */
  border-bottom-left-radius: 60px;
  float: right;
  width: 50%;
  height: 100px;
  box-shadow: 10px 5px 30px #000808;
}

.Menu ul {
  list-style: none;
  padding-top: 10px;
  padding-left: 15%;
}

.Menu ul li {
  border-radius: 30px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  padding: 8px 15px 8px 15px;
  margin: 0 30px;
  float: left;
}

.Menu ul li:hover {
  transition: all 0.5s ease-out;
  background-color: black;
  color: white;
}

/* 갤러리 link 아이콘 css */
.Icon {
  margin: 0px;
  padding-left: 15px;
  list-style: none;
  text-align: center;
}
.Icon li {
  width: 50px;
  height: 50px;
  margin: 30px;
  /* border:1px solid white; */
  border-radius: 50px;
  /* background-color: gray; */
  opacity: 1;
  text-align: center;
}
.Icon li:nth-child(1) {
  animation: fadeInLeft 3s;
}
.Icon li:nth-child(2) {
  animation: fadeInLeft 2.5s;
}
.Icon li:nth-child(3) {
  animation: fadeInLeft 2s;
}
.Icon li:nth-child(4) {
  animation: fadeInLeft 1.5s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
<<<<<<< Updated upstream
    transform: translateZ(0);
  }
=======
    text-align: center;
    
}
.Icon li:nth-child(1){
  animation: fadeInLeft 3s;
}
.Icon li:nth-child(2){
  animation: fadeInLeft 2.5s;
}
.Icon li:nth-child(3){
  animation: fadeInLeft 2s;
}
.Icon li:nth-child(4){
  animation: fadeInLeft 1.5s;
}

@keyframes fadeInLeft {
  0%{
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }
  to{
    opacity: 1;
    transform: translateZ(0);
  }
  
>>>>>>> Stashed changes
}
.link_other {
  position: fixed;
  top: 30vh;
  display: inline-block;
  align-items: center;
}
.Icon_img {
  width: 35px;
  height: 35px;
  margin-top: 5px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.3s ease-in-out;
}
.Icon_img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
